<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	
	
	<!-- 配置service管理!!!service一定要配置注入到spring中，不然注解找不到 -->
	<bean id="userService" class="com.awsports.service.impl.UserServiceImpl"/>
	<bean id="activityService" class="com.awsports.service.impl.ActivityServiceImpl"/>
	<bean id="arenaService" class="com.awsports.service.impl.ArenaServiceImpl"/>
	<bean id="tournamentService" class="com.awsports.service.impl.TournamentServiceImpl"/>
	<bean id="teamService" class="com.awsports.service.impl.TeamServiceImpl"/>
	<bean id="pointruleService" class="com.awsports.service.impl.PointruleServiceImpl"/>
	<bean id="singlematchService" class="com.awsports.service.impl.SinglematchServiceImpl"/>
	<bean id="singlematchscoreService" class="com.awsports.service.impl.SinglematchscoreServiceImpl"/>
	<bean id="individualpointService" class="com.awsports.service.impl.IndividualpointServiceImpl"/>
	<bean id="doublematchscoreService" class="com.awsports.service.impl.DoublematchscoreServiceImpl"/>
	<bean id="doublematchService" class="com.awsports.service.impl.DoublematchServiceImpl"/>
	<bean id="teampointService" class="com.awsports.service.impl.TeampointServiceImpl"/>
	
</beans>