<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awsports.mapper.AwEventWorkerMapper">
  <resultMap id="BaseResultMap" type="com.awsports.pojo.AwEventWorker">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="eventId" jdbcType="INTEGER" property="eventid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userAvatar" jdbcType="VARCHAR" property="useravatar" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="privilege" jdbcType="INTEGER" property="privilege" />
    <result column="isReferee" jdbcType="BIT" property="isreferee" />
    <result column="isLineReferee" jdbcType="BIT" property="islinereferee" />
    <result column="isCaddy" jdbcType="BIT" property="iscaddy" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="createdat" />
    <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedat" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.awsports.pojo.AwEventWorker">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userId, eventId, userName, userAvatar, role, privilege, isReferee, isLineReferee, 
    isCaddy, createdAt, updatedAt, invalid
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.awsports.pojo.AwEventWorkerExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aw_event_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.awsports.pojo.AwEventWorkerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aw_event_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aw_event_worker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aw_event_worker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.awsports.pojo.AwEventWorkerExample">
    delete from aw_event_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.awsports.pojo.AwEventWorker">
    insert into aw_event_worker (id, userId, eventId, 
      userName, userAvatar, role, 
      privilege, isReferee, isLineReferee, 
      isCaddy, createdAt, updatedAt, 
      invalid, note)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{eventid,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{useravatar,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{privilege,jdbcType=INTEGER}, #{isreferee,jdbcType=BIT}, #{islinereferee,jdbcType=BIT}, 
      #{iscaddy,jdbcType=BIT}, #{createdat,jdbcType=TIMESTAMP}, #{updatedat,jdbcType=TIMESTAMP}, 
      #{invalid,jdbcType=BIT}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.awsports.pojo.AwEventWorker">
    insert into aw_event_worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="eventid != null">
        eventId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="useravatar != null">
        userAvatar,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="privilege != null">
        privilege,
      </if>
      <if test="isreferee != null">
        isReferee,
      </if>
      <if test="islinereferee != null">
        isLineReferee,
      </if>
      <if test="iscaddy != null">
        isCaddy,
      </if>
      <if test="createdat != null">
        createdAt,
      </if>
      <if test="updatedat != null">
        updatedAt,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="eventid != null">
        #{eventid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="useravatar != null">
        #{useravatar,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null">
        #{privilege,jdbcType=INTEGER},
      </if>
      <if test="isreferee != null">
        #{isreferee,jdbcType=BIT},
      </if>
      <if test="islinereferee != null">
        #{islinereferee,jdbcType=BIT},
      </if>
      <if test="iscaddy != null">
        #{iscaddy,jdbcType=BIT},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.awsports.pojo.AwEventWorkerExample" resultType="java.lang.Long">
    select count(*) from aw_event_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update aw_event_worker
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.eventid != null">
        eventId = #{record.eventid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.useravatar != null">
        userAvatar = #{record.useravatar,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null">
        role = #{record.role,jdbcType=VARCHAR},
      </if>
      <if test="record.privilege != null">
        privilege = #{record.privilege,jdbcType=INTEGER},
      </if>
      <if test="record.isreferee != null">
        isReferee = #{record.isreferee,jdbcType=BIT},
      </if>
      <if test="record.islinereferee != null">
        isLineReferee = #{record.islinereferee,jdbcType=BIT},
      </if>
      <if test="record.iscaddy != null">
        isCaddy = #{record.iscaddy,jdbcType=BIT},
      </if>
      <if test="record.createdat != null">
        createdAt = #{record.createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedat != null">
        updatedAt = #{record.updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invalid != null">
        invalid = #{record.invalid,jdbcType=BIT},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update aw_event_worker
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      eventId = #{record.eventid,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      userAvatar = #{record.useravatar,jdbcType=VARCHAR},
      role = #{record.role,jdbcType=VARCHAR},
      privilege = #{record.privilege,jdbcType=INTEGER},
      isReferee = #{record.isreferee,jdbcType=BIT},
      isLineReferee = #{record.islinereferee,jdbcType=BIT},
      isCaddy = #{record.iscaddy,jdbcType=BIT},
      createdAt = #{record.createdat,jdbcType=TIMESTAMP},
      updatedAt = #{record.updatedat,jdbcType=TIMESTAMP},
      invalid = #{record.invalid,jdbcType=BIT},
      note = #{record.note,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update aw_event_worker
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      eventId = #{record.eventid,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      userAvatar = #{record.useravatar,jdbcType=VARCHAR},
      role = #{record.role,jdbcType=VARCHAR},
      privilege = #{record.privilege,jdbcType=INTEGER},
      isReferee = #{record.isreferee,jdbcType=BIT},
      isLineReferee = #{record.islinereferee,jdbcType=BIT},
      isCaddy = #{record.iscaddy,jdbcType=BIT},
      createdAt = #{record.createdat,jdbcType=TIMESTAMP},
      updatedAt = #{record.updatedat,jdbcType=TIMESTAMP},
      invalid = #{record.invalid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.awsports.pojo.AwEventWorker">
    update aw_event_worker
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="eventid != null">
        eventId = #{eventid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="useravatar != null">
        userAvatar = #{useravatar,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null">
        privilege = #{privilege,jdbcType=INTEGER},
      </if>
      <if test="isreferee != null">
        isReferee = #{isreferee,jdbcType=BIT},
      </if>
      <if test="islinereferee != null">
        isLineReferee = #{islinereferee,jdbcType=BIT},
      </if>
      <if test="iscaddy != null">
        isCaddy = #{iscaddy,jdbcType=BIT},
      </if>
      <if test="createdat != null">
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.awsports.pojo.AwEventWorker">
    update aw_event_worker
    set userId = #{userid,jdbcType=INTEGER},
      eventId = #{eventid,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      userAvatar = #{useravatar,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      privilege = #{privilege,jdbcType=INTEGER},
      isReferee = #{isreferee,jdbcType=BIT},
      isLineReferee = #{islinereferee,jdbcType=BIT},
      isCaddy = #{iscaddy,jdbcType=BIT},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      invalid = #{invalid,jdbcType=BIT},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.awsports.pojo.AwEventWorker">
    update aw_event_worker
    set userId = #{userid,jdbcType=INTEGER},
      eventId = #{eventid,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      userAvatar = #{useravatar,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      privilege = #{privilege,jdbcType=INTEGER},
      isReferee = #{isreferee,jdbcType=BIT},
      isLineReferee = #{islinereferee,jdbcType=BIT},
      isCaddy = #{iscaddy,jdbcType=BIT},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>