<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awsports.mapper.EventPlayerMapper">

  <resultMap id="eventPlayerMap" type="com.awsports.pojo.EventPlayer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="eventId" jdbcType="INTEGER" property="eventid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userAvatar" jdbcType="VARCHAR" property="useravatar" />
    <result column="isRetired" jdbcType="BIT" property="isretired" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="createdat" />
    <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedat" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>

  
  <!-- select more -->
<!--   <select id="findAll" parameterType="com.awsports.pojo.EventPlayer" resultMap="eventPlayerMap">
    select *
    from aw_event_player
	<where>
		<include refid=""/>
	</where>
  </select> -->
  <!-- select one -->
  <select id="findById" parameterType="java.lang.Integer" resultType="com.awsports.pojo.EventPlayer">
  	select *
  	from aw_event_player
  	where aw_event_player.id = #{id, jdbcType=INTEGER}
  </select>
  <!-- select more in one event -->
  <select id="findByEventId" parameterType="java.lang.Integer" resultType="com.awsports.pojo.EventPlayer">
  	select *
  	from aw_event_player
  	where aw_event_player.eventId = #{eventId, jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from aw_event_player
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByEventId" parameterType="java.lang.Integer">
  	delete from aw_event_player
  	where eventId = #{eventId, jdbcType=INTEGER}
  </delete>

  <insert id="insertOne" parameterType="com.awsports.pojo.EventPlayer">
    insert into aw_event_player
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="eventid != null">
        eventId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="useravatar != null">
        userAvatar,
      </if>
      <if test="isretired != null">
        isRetired,
      </if>
      <if test="createdat != null">
        createdAt,
      </if>
      <if test="updatedat != null">
        updatedAt,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="eventid != null">
        #{eventid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="useravatar != null">
        #{useravatar,jdbcType=VARCHAR},
      </if>
      <if test="isretired != null">
        #{isretired,jdbcType=BIT},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.awsports.pojo.EventPlayer">
    update aw_event_player
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="eventid != null">
        eventId = #{eventid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="useravatar != null">
        userAvatar = #{useravatar,jdbcType=VARCHAR},
      </if>
      <if test="isretired != null">
        isRetired = #{isretired,jdbcType=BIT},
      </if>
      <if test="createdat != null">
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>