<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awsports.mapper.EventMapper">

	 <resultMap id="eventMap" type="com.awsports.pojo.EventQuery">
		<id column="id" jdbcType="INTEGER" property="event.id" />
	    <result column="publisher" jdbcType="INTEGER" property="event.publisher" />
	    <result column="contact" jdbcType="VARCHAR" property="event.contact" />
	    <result column="contactInfo" jdbcType="VARCHAR" property="event.contactinfo" />
	    <result column="cover" jdbcType="VARCHAR" property="event.cover" />
	    <result column="name" jdbcType="VARCHAR" property="event.name" />
	    <result column="place" jdbcType="VARCHAR" property="event.place" />
	    <result column="type" jdbcType="VARCHAR" property="event.type" />
	    <result column="sponsor" jdbcType="VARCHAR" property="event.sponsor" />
	    <result column="numberOfPlayer" jdbcType="INTEGER" property="event.numberofplayer" />
	    <result column="startTime" jdbcType="TIMESTAMP" property="event.starttime" />
	    <result column="endTime" jdbcType="TIMESTAMP" property="event.endtime" />
	    <result column="cost" jdbcType="DOUBLE" property="event.cost" />
	    <result column="enrollingTime" jdbcType="TIMESTAMP" property="event.enrollingtime" />
	    <result column="closingTime" jdbcType="TIMESTAMP" property="event.closingtime" />
	    <result column="draw" jdbcType="CHAR" property="event.draw" />
	    <result column="schedule" jdbcType="CHAR" property="event.schedule" />
	    <result column="createdAt" jdbcType="TIMESTAMP" property="event.createdat" />
	    <result column="updatedAt" jdbcType="TIMESTAMP" property="event.updatedat" />
	    <result column="invalid" jdbcType="BIT" property="event.invalid" />
		<result column="detail" jdbcType="LONGVARCHAR" property="event.detail" />
		<result column="note" jdbcType="LONGVARCHAR" property="event.note" />
		<association property="userPublisher" javaType="com.awsports.pojo.User">
	  		<id column="publisher" property="id"/>
			<result column="publisher_username" property="name"/>
			<result column="publisher_realname" property="realname"/>
			<result column="publisher_avatar" property="portrait"/>
	  	</association>
	 </resultMap>
	
	 <!-- query conditions -->
	 <sql id="query_where">
	 	<if test="event!=null">
	 		<if test="event.name!=null and event.name!=''">
	 			and aw_event.name like '%${event.name}%'
	 		</if>
	 		<if test="event.place!=null and event.place!=''">
	 			and aw_event.place like '%${event.place}%'
	 		</if>
	 		<if test="event.starttime!=null and event.starttime!=''">
	 			and aw_event.startTime &gt;= TIMESTAMP(#{event.starttime}) 
	 		</if>
	 		<if test="event.endtime!=null and event.endtime!=''">
	 			and aw_event.endTime &lt;= TIMESTAMP(#{event.endtime}) 
	 		</if>
	 		<if test="event.year != null">
	 			<![CDATA[and YEAR(aw_event.startTime) >= #{event.year}]]>
	 		</if>
	 	</if>
	 	<if test="userPublisher!=null">
	 		<if test="userPublisher.name!=null and userPublisher.name!=''">
	 			and aw_user.name like '%${userPublisher.name}%'
	 		</if>
	 	</if>
	 </sql>
	 
	 <sql id="orderAndLimits">
	 	
	 </sql>
	
	 <select id="findAll" parameterType="com.awsports.pojo.EventQuery" resultMap="eventMap">
	 	select 
	 	aw_event.*, 
	 	userPublisher.name as publisher_username, userPublisher.portrait as  publisher_avatar, userPublisher.realName as publisher_realname
	 	from aw_event
	 	join aw_user as userPublisher on userPublisher.id=aw_event.publisher
	 	<where>
	 		<include refid="query_where"/>
	 	</where>
	 	<include refid="orderAndLimits"/>
	 </select>
	 
	 <select id="findById" parameterType="java.lang.Integer" resultMap="eventMap">
	 	select 	 	
	 	aw_event.*, 
	 	userPublisher.name as publisher_username, userPublisher.portrait as  publisher_avatar, userPublisher.realName as publisher_realname
	 	from aw_event
	 	join aw_user as userPublisher on userPublisher.id=aw_event.publisher
		where aw_event.id=#{id, jdbcType=INTEGER}
	 </select> 

	 <insert id="insertOne" parameterType="com.awsports.pojo.Event" useGeneratedKeys="true" keyProperty="id">
		 insert into aw_event
	     <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="publisher != null">
	        publisher,
	      </if>
	      <if test="contact != null">
	        contact,
	      </if>
	      <if test="contactinfo != null">
	        contactInfo,
	      </if>
	      <if test="cover != null">
	        cover,
	      </if>
	      <if test="name != null">
	        name,
	      </if>
	      <if test="place != null">
	        place,
	      </if>
	      <if test="type != null">
	        type,
	      </if>
	      <if test="sponsor != null">
	        sponsor,
	      </if>
	      <if test="numberofplayer != null">
	        numberOfPlayer,
	      </if>
	      <if test="starttime != null">
	        startTime,
	      </if>
	      <if test="endtime != null">
	        endTime,
	      </if>
	      <if test="cost != null">
	        cost,
	      </if>
	      <if test="enrollingtime != null">
	        enrollingTime,
	      </if>
	      <if test="closingtime != null">
	        closingTime,
	      </if>
	      <if test="draw != null">
	        draw,
	      </if>
	      <if test="schedule != null">
	        schedule,
	      </if>
	      <if test="createdat != null">
	        createdAt,
	      </if>
	      <if test="updatedat != null">
	        updatedAt,
	      </if>
	      <if test="invalid != null">
	        invalid,
	      </if>
	      <if test="detail != null">
	        detail,
	      </if>
	      <if test="note != null">
	        note,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="publisher != null">
	        #{publisher,jdbcType=INTEGER},
	      </if>
	      <if test="contact != null">
	        #{contact,jdbcType=VARCHAR},
	      </if>
	      <if test="contactinfo != null">
	        #{contactinfo,jdbcType=VARCHAR},
	      </if>
	      <if test="cover != null">
	        #{cover,jdbcType=VARCHAR},
	      </if>
	      <if test="name != null">
	        #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="place != null">
	        #{place,jdbcType=VARCHAR},
	      </if>
	      <if test="type != null">
	        #{type,jdbcType=VARCHAR},
	      </if>
	      <if test="sponsor != null">
	        #{sponsor,jdbcType=VARCHAR},
	      </if>
	      <if test="numberofplayer != null">
	        #{numberofplayer,jdbcType=INTEGER},
	      </if>
	      <if test="starttime != null">
	        #{starttime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="endtime != null">
	        #{endtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="cost != null">
	        #{cost,jdbcType=DOUBLE},
	      </if>
	      <if test="enrollingtime != null">
	        #{enrollingtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="closingtime != null">
	        #{closingtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="draw != null">
	        #{draw,jdbcType=CHAR},
	      </if>
	      <if test="schedule != null">
	        #{schedule,jdbcType=CHAR},
	      </if>
	      <if test="createdat != null">
	        #{createdat,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updatedat != null">
	        #{updatedat,jdbcType=TIMESTAMP},
	      </if>
	      <if test="invalid != null">
	        #{invalid,jdbcType=BIT},
	      </if>
	      <if test="detail != null">
	        #{detail,jdbcType=LONGVARCHAR},
	      </if>
	      <if test="note != null">
	        #{note,jdbcType=LONGVARCHAR},
	      </if>
	    </trim>
	</insert>
	
	<update id="updateById" parameterType="com.awsports.pojo.Event">
		update aw_event
	    <set>
	      <if test="publisher != null">
	        publisher = #{publisher,jdbcType=INTEGER},
	      </if>
	      <if test="contact != null">
	        contact = #{contact,jdbcType=VARCHAR},
	      </if>
	      <if test="contactinfo != null">
	        contactInfo = #{contactinfo,jdbcType=VARCHAR},
	      </if>
	      <if test="cover != null">
	        cover = #{cover,jdbcType=VARCHAR},
	      </if>
	      <if test="name != null">
	        name = #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="place != null">
	        place = #{place,jdbcType=VARCHAR},
	      </if>
	      <if test="type != null">
	        type = #{type,jdbcType=VARCHAR},
	      </if>
	      <if test="sponsor != null">
	        sponsor = #{sponsor,jdbcType=VARCHAR},
	      </if>
	      <if test="numberofplayer != null">
	        numberOfPlayer = #{numberofplayer,jdbcType=INTEGER},
	      </if>
	      <if test="starttime != null">
	        startTime = #{starttime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="endtime != null">
	        endTime = #{endtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="cost != null">
	        cost = #{cost,jdbcType=DOUBLE},
	      </if>
	      <if test="enrollingtime != null">
	        enrollingTime = #{enrollingtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="closingtime != null">
	        closingTime = #{closingtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="draw != null">
	        draw = #{draw,jdbcType=CHAR},
	      </if>
	      <if test="schedule != null">
	        schedule = #{schedule,jdbcType=CHAR},
	      </if>
	      <if test="createdat != null">
	        createdAt = #{createdat,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updatedat != null">
	        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
	      </if>
	      <if test="invalid != null">
	        invalid = #{invalid,jdbcType=BIT},
	      </if>
	      <if test="detail != null">
	        detail = #{detail,jdbcType=LONGVARCHAR},
	      </if>
	      <if test="note != null">
	        note = #{note,jdbcType=LONGVARCHAR},
	      </if>
	    </set>
	    where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
	  delete from aw_event
	  where id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>