<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awsports.mapper.IndividualrankestMapper">

  <resultMap id="individualrankestQueryMap" type="com.awsports.pojo.IndividualrankestQuery">
    <id column="id" jdbcType="INTEGER" property="individualrankest.id" />
    <result column="userId" jdbcType="INTEGER" property="individualrankest.userid" />
    <result column="entry" jdbcType="INTEGER" property="individualrankest.entry" />
    <result column="highestRanking" jdbcType="INTEGER" property="individualrankest.highestranking" />
    <result column="HRStartedAt" jdbcType="TIMESTAMP" property="individualrankest.hrstartedat" />
    <result column="NO1Weeks" jdbcType="INTEGER" property="individualrankest.no1weeks" />
    <result column="NO1ContinuousWeeks" jdbcType="INTEGER" property="individualrankest.no1continuousweeks" />
    <result column="NO1LongestContinuousWeeks" jdbcType="INTEGER" property="individualrankest.no1longestcontinuousweeks" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="individualrankest.createdat" />
    <result column="updatedAt" jdbcType="TIMESTAMP" property="individualrankest.updatedat" />
    <result column="invalid" jdbcType="BIT" property="individualrankest.invalid" />
    <association property="user" javaType="com.awsports.pojo.User">
    	<id column="userId" property="id"/>
    	<result column="user_name" property="name"/>
    </association>
  </resultMap>
  
  <sql id="individualrankestQuery_where">
  	<if test="user!=null">
  		<if test="user.name!=null and user.name!=''">
  			and aw_user.name like "%${user.name}%"
  		</if>
  	</if>
  </sql>
  
  <select id="findAll" parameterType="com.awsports.pojo.IndividualrankestQuery" resultMap="individualrankestQueryMap">
    SELECT
	aw_individualrankest.*,
	aw_user.name as user_name
	from aw_individualrankest
	join aw_user on aw_user.id=aw_individualrankest.userId
	<where>
		<include refid="individualrankestQuery_where"/>
	</where>
  </select>
  <select id="findById" parameterType="java.lang.Integer" resultType="com.awsports.pojo.Individualrankest">
    select * from aw_individualrankest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByUseridEntry" parameterType="com.awsports.pojo.Individualrankest" resultType="com.awsports.pojo.Individualrankest">
  	select * from aw_individualrankest 
  	where userId=#{userid} and entry=#{entry};
  </select>
  <select id="findByUser" parameterType="com.awsports.pojo.User" resultType="com.awsports.pojo.Individualrankest">
  	select * from aw_individualrankest 
  	where userId=#{id};
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from aw_individualrankest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertOne" parameterType="com.awsports.pojo.Individualrankest">
    insert into aw_individualrankest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="entry != null">
        entry,
      </if>
      <if test="highestranking != null">
        highestRanking,
      </if>
      <if test="hrstartedat != null">
        HRStartedAt,
      </if>
      <if test="no1weeks != null">
        NO1Weeks,
      </if>
      <if test="no1continuousweeks != null">
        NO1ContinuousWeeks,
      </if>
      <if test="no1longestcontinuousweeks != null">
        NO1LongestContinuousWeeks,
      </if>
      <if test="createdat != null">
        createdAt,
      </if>
      <if test="updatedat != null">
        updatedAt,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="entry != null">
        #{entry,jdbcType=INTEGER},
      </if>
      <if test="highestranking != null">
        #{highestranking,jdbcType=INTEGER},
      </if>
      <if test="hrstartedat != null">
        #{hrstartedat,jdbcType=TIMESTAMP},
      </if>
      <if test="no1weeks != null">
        #{no1weeks,jdbcType=INTEGER},
      </if>
      <if test="no1continuousweeks != null">
        #{no1continuousweeks,jdbcType=INTEGER},
      </if>
      <if test="no1longestcontinuousweeks != null">
        #{no1longestcontinuousweeks,jdbcType=INTEGER},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.awsports.pojo.Individualrankest">
    update aw_individualrankest
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="entry != null">
        entry = #{entry,jdbcType=INTEGER},
      </if>
      <if test="highestranking != null">
        highestRanking = #{highestranking,jdbcType=INTEGER},
      </if>
      <if test="hrstartedat != null">
        HRStartedAt = #{hrstartedat,jdbcType=TIMESTAMP},
      </if>
      <if test="no1weeks != null">
        NO1Weeks = #{no1weeks,jdbcType=INTEGER},
      </if>
      <if test="no1continuousweeks != null">
        NO1ContinuousWeeks = #{no1continuousweeks,jdbcType=INTEGER},
      </if>
      <if test="no1longestcontinuousweeks != null">
        NO1LongestContinuousWeeks = #{no1longestcontinuousweeks,jdbcType=INTEGER},
      </if>
      <if test="createdat != null">
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>