<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awsports.mapper.TeampointMapper">
  <resultMap id="teampointMap" type="com.awsports.pojo.TeampointQuery">
    <id column="id" jdbcType="INTEGER" property="teampoint.id" />
    <result column="teamId" jdbcType="INTEGER" property="teampoint.teamid" />
    <result column="entry" jdbcType="INTEGER" property="teampoint.entry" />
    <result column="year" jdbcType="INTEGER" property="teampoint.year" />
    <result column="week" jdbcType="INTEGER" property="teampoint.week" />
    <result column="matchs" jdbcType="INTEGER" property="teampoint.matchs" />
    <result column="wins" jdbcType="INTEGER" property="teampoint.wins" />
    <result column="marginBureau" jdbcType="INTEGER" property="teampoint.marginbureau" />
    <result column="points" jdbcType="INTEGER" property="teampoint.points" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="teampoint.createdat" />
    <result column="updatedAt" jdbcType="TIMESTAMP" property="teampoint.updatedat" />
    <result column="invalid" jdbcType="BIT" property="teampoint.invalid" />
    <association property="team" javaType="com.awsports.pojo.Team">
    	<id column="teamId" property="id"/>
    	<result column="team_name" property="name"/>
    </association>
  </resultMap>
  
  <sql id="teampointQuery_where">
  	<if test="team!=null">
  		<if test="team.name!=null and team.name!=''">
  			and aw_team.name like "%${team.name}%"
  		</if>
  	</if>
  	<if test="teampoint!=null">
  		<if test="teampoint.entry!=null and teampoint.entry.intValue()!=0">
  			and aw_teampoint.entry=#{teampoint.entry}
  		</if>
  		<if test="teampoint.year!=null">
  			and aw_teampoint.year=#{teampoint.year}
  		</if>
  		<if test="teampoint.week!=null">
  			and aw_teampoint.week=#{teampoint.week}
  		</if>  		
  	</if>
  </sql>

  <select id="findAll" parameterType="com.awsports.pojo.TeampointQuery" resultMap="teampointMap">
  	select 
	aw_teampoint.*,
	aw_team.name as team_name
	from aw_teampoint
	join aw_team on aw_team.id=aw_teampoint.teamId
	<where>
		<include refid="teampointQuery_where"/>
	</where>
  </select>
  <select id="findById" parameterType="java.lang.Integer" resultType="com.awsports.pojo.Teampoint">
  	select * from aw_teampoint where id=#{id}
  </select>
  <select id="findByTeamidYearWeekEntry" parameterType="com.awsports.pojo.Teampoint" resultType="com.awsports.pojo.Teampoint">
  	select * from aw_teampoint
  	where teamId=#{teamid} and year=#{year} and week=#{week} and entry=#{entry}
  </select>
  <select id="findByEntryYearWeek" parameterType="com.awsports.pojo.Teampoint" resultType="com.awsports.pojo.Teampoint">
  	select * from aw_teampoint
  	where entry in (#{manDoubleEntry},#{womanDoubleEntry},#{entry}) and (year=#{year} or (year=#{lastYear} and (week between #{week} and 55)))
	order by aw_teampoint.teamId ASC
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from aw_teampoint
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insertOne" parameterType="com.awsports.pojo.Teampoint">
    insert into aw_teampoint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamid != null">
        teamId,
      </if>
      <if test="entry != null">
        entry,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="matchs != null">
        matchs,
      </if>
      <if test="wins != null">
        wins,
      </if>
      <if test="marginbureau != null">
        marginBureau,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="createdat != null">
        createdAt,
      </if>
      <if test="updatedat != null">
        updatedAt,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamid != null">
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="entry != null">
        #{entry,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="week != null">
        #{week,jdbcType=INTEGER},
      </if>
      <if test="matchs != null">
        #{matchs,jdbcType=INTEGER},
      </if>
      <if test="wins != null">
        #{wins,jdbcType=INTEGER},
      </if>
      <if test="marginbureau != null">
        #{marginbureau,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="createdat != null">
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
<!--   <select id="countByExample" parameterType="com.awsports.pojo.Teampoint" resultType="java.lang.Long"> -->
<!--     select count(*) from aw_teampoint -->
<!--   </select> -->
  
  <update id="updateById" parameterType="com.awsports.pojo.Teampoint">
    update aw_teampoint
    <set>
      <if test="teamid != null">
        teamId = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="entry != null">
        entry = #{entry,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=INTEGER},
      </if>
      <if test="matchs != null">
        matchs = #{matchs,jdbcType=INTEGER},
      </if>
      <if test="wins != null">
        wins = #{wins,jdbcType=INTEGER},
      </if>
      <if test="marginbureau != null">
        marginBureau = #{marginbureau,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="createdat != null">
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null">
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>